@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }

  h1 {
    @apply text-3xl font-semibold;
  }
}

.active {
  @apply scale-x-100;
}

.fixed-nav {
  @apply fixed bg-white/10 shadow-md backdrop-blur-lg;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
